.App
	position absolute
	inset 0
	display flex
	flex-direction column
.App__tasks
	position relative
	flex-grow 1

.Task
	position absolute
	inset 0
	pointer-events none
.Task__dialog
	position absolute
	border solid 1px #bfccd6
	display flex
	flex-direction column
	background #fff
	box-shadow 0 3px 8px #29374233
	pointer-events auto
.Task__header
	padding 4px
	display flex
	align-items center
.Task__title
	height 100%
	padding 0 8px
	display flex
	flex-grow 1
	align-items center
.Task__buttons
	display flex
.Task__body
	padding 0 4px 4px
	flex-grow 1
.Task__iframe
	width 100%
	height 100%
	border 0

.Taskbar
	padding 4px
	border solid 1px #bfccd6
	background #fff
	z-index 1

#tooltipEl
	max-width 400px
	min-height 24px
	padding 4px 8px
	display flex
	align-items center
	background #293742
	color #fff
	z-index 10
	&:empty
		display none

#contextMenuEl
	z-index 10
	> .Menu
		box-shadow 0 3px 8px #29374233
